
bootstrap.servers=localhost:6969
security.protocol=SSL
ssl.truststore.location=/Users/framiere/conduktor/conduktor-gateway-functional-testing/target/2024.01.22-22:50:30/ssl/truststore.jks
ssl.truststore.password=123456
ssl.keystore.location=/Users/framiere/conduktor/conduktor-gateway-functional-testing/target/2024.01.22-22:50:30/ssl/keystore.jks
ssl.keystore.password=123456

